In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
data = pd.read_csv('data_soc.csv')
df = data
#df

In [3]:
col_list= list(df)
col_list.remove('Less than 9th grade')
col_list.remove('9th to 12th grade')
col_list.remove('Less than High school')
col_list.remove('Bachelor degree')
col_list.remove('Graduate or proffesional degree')

In [4]:
df['High School or above'] = df[col_list].sum(skipna = True, axis=1)
#df

In [5]:
pr_to_NTA = pd.read_csv('pr_to_NTA.csv')
pr_to_NTA.head()

   Precinct                                 NTAName
0         1       Battery Park City-Lower Manhattan
1         1                               Chinatown
2         1  SoHo-TriBeCa-Civic Center-Little Italy
3         1                            West Village
4         1             park-cemetery-etc-Manhattan

From NTA to Police district

In [6]:
Temp = df.loc[1]
Temp = Temp.to_frame()
Temp = Temp.transpose()
Temp = Temp.iloc[0:0]
Precinct_data = Temp.drop(['GeogName','GeoID','Borough'], axis=1)
Precinct_data['Precinct'] = 1
precinct = pr_to_NTA.loc[0,'Precinct']
Temp3 = Precinct_data
count = 1;

In [7]:
for i in range(1,len(pr_to_NTA)):
    NTA = pr_to_NTA.loc[i,'NTAName']
    idx = df.loc[df.isin([NTA]).any(axis=1)].index.tolist()
    if pr_to_NTA.loc[i,'Precinct'] == precinct:
        Temp = Temp.append(df.loc[idx])
        count = count + 1;
        #print(count)
    else: 
        Temp = Temp.reset_index(drop = True)
        Temp2 = Temp.drop(['GeogName','GeoID','Borough'], axis=1)
        Temp2 = Temp2.sum(axis = 0, skipna = True)
        Temp2 = Temp2.to_frame()
        Temp2 = Temp2.transpose()
        Temp3 = Temp3.append(Temp2)
        Temp3['Precinct'] = precinct
        #print(Temp3['Median_income'])
        Temp3['High School or above'] = Temp3.loc[0,'High School or above']/count
        Precinct_data = Precinct_data.append(Temp3)
        Temp = Temp.iloc[0:0]
        Temp3 = Temp3.iloc[0:0]
        Temp = Temp.append(df.loc[idx])
        precinct = pr_to_NTA.loc[i,'Precinct']
        count = 1
        #df.sum(axis = 0, skipna = True)

C:\Users\kia08\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [8]:
Precinct_data = Precinct_data.reset_index(drop = True)
Precinct_data = Precinct_data.drop(['9th to 12th grade','Associate degree','Bachelor degree', 'Bachelor degree or higher', 'Graduate or proffesional degree','High School', 'Less than 9th grade','Less than High school','Some college, no degree'],axis=1)

In [9]:
Precinct_data.to_csv('soc_precinct_data.csv',index=False)